@use "./base.scss";

// put your custom CSS here!

// Make display math rendered with mathjax appear centered
mjx-container[jax="SVG"][display="true"] {
  display: block;
  text-align: center !important;
  margin: 0em auto !important;
}
