@use "./base.scss";

// put your custom CSS here!

// Make display math rendered with mathjax appear centered
mjx-container[jax="SVG"][display="true"] {
  display: block;
  text-align: center !important;
  margin: 0em auto !important;
}

// Increase font size and line height for article content
article p,
article li {
  font-size: 1.2rem !important;
  line-height: 1.5 !important;
}

article code {
  font-size: 1rem !important;
  /* line-height: 1.5 !important; */
}

@media (max-width: 480px) {
  .me {
    display: none;
  }
}

@media (min-width: 480px) {
  .me {
    width: 50%;
    padding: 10px;
  }

  .welcome {
    display: flex;
    align-items: center;
  }
}

// In case an image should be inverted, add "|invert" to the alt attribute, which can be
// controlled in obsidian via the image text.
[saved-theme="dark"] img[alt*="darkmodeinvert"] {
  filter: invert(100%);
}
