@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

// Make display math rendered with mathjax appear centered
mjx-container[jax="SVG"][display="true"] {
  display: block;
  text-align: center !important;
  margin: 0em auto !important;
}

// Increase font size and line height for article content
article p,
article li {
  font-size: 1.2rem !important;
  line-height: 1.5 !important;
}

article code {
  font-size: 1rem !important;
  /* line-height: 1.5 !important; */
}

@media (max-width: 480px) {
  .me {
    display: none;
  }
}

@media (min-width: 480px) {
  .me {
    width: 50%;
    padding: 10px;
  }

  .welcome {
    display: flex;
    align-items: center;
  }
}

// In case an image should be inverted, add "|invert" to the alt attribute, which can be
// controlled in obsidian via the image text.
[saved-theme="dark"] img[alt*="darkmodeinvert"] {
  filter: invert(100%) brightness(80%);
}

// Dim images in dark mode
[saved-theme="dark"] img {
  filter: brightness(80%);
}

// Align images in the center
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

// My custom conatainer for multiple components elements
.multi-component-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media all and ($mobile) {
  // Customize search bar on mobile to take up less space
  #search-button {
    background-color: transparent;
    p {
      display: none;
    }
  }
}

// Fixes alignment issue in News page due to dates
// Maybe there's a better way
.meta {
  font-family: monospace;
}
